Flask==2.2.2
gunicorn==21.2.0
itsdangerous==2.0.1
Jinga2==3.1.2
MarkupSafe==2.1.1
Werkzeug==2.2.3
pandas>=1.5.3
numpy>=1.24.3
scikit-learn>=1.3.0
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
